.Card {
    margin: 0.25rem;
    user-select: none;
    position: relative;
    width: calc(5.5rem * 1);
    height: calc(8.5rem * 1);
    font-family: FFFFORWA;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 100;
    font-size: 0.675rem;
    pointer-events: auto;
    transform-origin: bottom; // perspective: 1000px;
    // transform-style: preserve-3d;
    transform: scale(1) translateY(0);
    transition: all .05s ease-in-out;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 2px; */
    &,
    & *,
    &:focus,
    & *:focus {
        outline: none;
    }
    & .CardInfo {
        left: calc(100% + 0.25rem); // height: 100%;
        display: none;
        color: #EEEEEE;
        font-size: 5px;
        padding: 0.25rem;
        position: relative;
        pointer-events: none;
        border-radius: 0.125rem;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
        background-color: rgba(66, 66, 66, 0.75);
        border: 1px solid rgba(166, 166, 166, 0.75);
        & .CardEffects {
            font-size: 0.85em;
            margin-top: 0.25rem;
        }
    }
    &[alreadyUsed="false"][draggable="true"] {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 3px;
    }
    &[hoverable="true"]:hover,
    &[hoverable="dynamic"]:not([type=""]):hover {
        z-index: 1;
        /* width: calc(5.5rem * 2);
        height: calc(8.5rem * 2); */
        // pointer-events: none;
        transform: scale(1.75) translateY(-0.25rem);
        & .CardFG,
        & .CardBG {
            box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
        }
        & .CardName {
            text-shadow: 0px 1.25px 1px rgba(0, 0, 0, 0.5);
        }
        & .CardInfo {
            display: block;
        }
        & .CardCorner {
            text-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.75);
        }
    }
    &[draggable="true"]:hover {
        cursor: pointer;
    }
    & .CardFG {
        transform: rotateY(0deg);
        background: url(/Cards/Card%20Front.png) center center no-repeat;
    }
    & .CardBG {
        transform: rotateY(180deg);
        background: url(/Cards/Card%20Back.png) center center no-repeat;
    }
    & .CardFG,
    & .CardBG {
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &[fOb="back"] {
        & .CardFG {
            transform: rotateY(180deg);
        }
        & .CardBG {
            transform: rotateY(360deg);
        }
    }
    & .CardFG,
    & .CardBG,
    & .CardFace {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: pixelated;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
    & .CardName {
        left: 50%;
        bottom: 10%;
        position: absolute;
        transform: translateX(-50%);
    }
    & .CardCorner {
        top: 0;
        left: 0;
        padding: 0.175rem;
        position: absolute;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.175);
        &[posX="R"] {
            right: 0;
            left: initial;
        }
        &[posY="B"] {
            bottom: 0;
            top: initial;
        }
        &[ctype="AP"] {
            color: #CCD1D9;
        }
        &[ctype="HP"] {
            color: #D8334A;
        }
        &[ctype="roundsLeft"] {
            color: #000000;
        }
        &[ctype="MPS"] {
            color: #37BC9B;
        }
    }
    &[fOb="back"] .CardFace,
    &[fOb="back"] .CardInfo,
    &[fOb="back"] .CardCorner,
    &[type=""] .CardFace,
    &[type=""] .CardInfo,
    &[type=""] .CardCorner {
        display: none;
    }
}