.App-game {
    display: block;
    & .App-game-menu-toggle {
        top: 50%;
        left: 100%;
        z-index: 2;
        padding: 0.5rem;
        position: absolute;
        border-radius: 0.25rem;
        background-color: #FFFFFF;
        border: 2px solid #000000;
        transform: translate(-100%, -50%);
    }
    & .App-game-info {
        margin-top: 0.5rem;
        display: block;
    }
    &.show-menu-true {
        .App-game-decks {
            display: none;
        } // & .App-game-info {
        //     z-index: 2;
        // }
    }
    & .App-game-decks {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        position: absolute;
        & .currentPlayer {
            top: 50%;
            left: 50%;
            z-index: 1;
            padding: 0.5rem;
            position: absolute;
            border-radius: 0.25rem;
            background-color: #FFFFFF;
            border: 2px solid #000000;
            transform: translate(-50%, -50%);
        }
        & .deck {
            top: 0;
            width: 100%;
            height: 50%;
            display: block;
            position: absolute;
            background-color: #DDDDDD;
            & .PlayerInfo {
                bottom: 0;
                z-index: 2;
                display: block;
                position: absolute;
                & .MP,
                & .HP {
                    width: 1.25rem;
                    height: 1.25rem;
                    padding: 0.175rem;
                    border-radius: 50%;
                }
                & .MP {
                    background-color: lightblue;
                    border: 1px solid lightseagreen;
                }
                & .HP {
                    background-color: lightpink;
                    border: 1px solid lightcoral;
                }
            }
            & .deck-onHand,
            & .deck-onField,
            & .deck-inBlock {
                z-index: 2;
                display: block;
                position: absolute;
                min-width: calc(5.5rem + 0.25rem * 2);
                min-height: calc(8.5rem + 0.25rem * 2);
                & .Card {
                    float: left;
                }
            }
            & .deck-onHand {
                top: 0;
                transform: scale(0.5);
                transform-origin: top;
                background-color: #00FF00;
                max-width: calc(100% - 5.5rem - 0.25rem * 2);
                // left: calc(2 * (5.5rem + 0.25rem * 2));
                & .Card {
                    width: calc(4rem);
                    & .CardFG,
                    & .CardBG {
                        width: calc(5.5rem * 1);
                    }
                } // $maxcardsonhand: 15;
                // @for $i from 0 through $maxcardsonhand {
                //     & .Card:nth-child(#{$i}) {
                //         right: calc(1rem * #{$i});
                //     }
                // }
            }
            & .deck-onField {
                z-index: 1;
                bottom: 1.25rem;
                padding: 0 8.5rem;
                background-color: #FF0000;
                & .Card {
                    float: right;
                }
            }
            & .deck-inBlock {
                top: 0;
                left: 0;
                background-color: #0000FF;
                width: calc(5.5rem + 0.25rem * 2);
                height: calc(8.5rem + 0.25rem * 2);
                & .deck-inBlock-nr {
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                & .Card {
                    position: absolute;
                }
            }
            &[ooe="own"] {
                bottom: 0;
                top: initial;
                background-color: #AAAAAA;
                & .PlayerInfo {
                    top: 0;
                    bottom: initial;
                }
                & .deck-onHand {
                    bottom: 0;
                    top: initial;
                    left: initial;
                    transform-origin: bottom;
                    transform: scale(0.5) translateY(0%); // translateY(75%)
                    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94); // right: calc(2 * (5.5rem + 0.25rem * 2));
                    &:hover {
                        transform: scale(0.75) translateY(0%);
                    }
                }
                & .deck-onField {
                    top: 1.25rem;
                    bottom: initial;
                    & .Card {
                        float: left;
                    }
                }
                & .deck-inBlock {
                    right: 0;
                    bottom: 0;
                    top: initial;
                    left: initial;
                }
            }
        }
    }
}