.App-game {
    display: block;
}

.App-game-menu-toggle {
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0.25rem;
    position: absolute;
}

.App-game-info {
    display: block;
}

.App-game-decks {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.App-game-decks.show-menu-true {
    display: none;
}

.App-game-decks .currentPlayer {
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: 0.5rem;
    position: absolute;
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    transform: translate(-50%, -50%);
}

.App-game-decks .deck {
    top: 0;
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    background-color: #DDDDDD;
}

.App-game-decks .deck[ooe="own"] {
    top: initial;
    bottom: 0;
    background-color: #AAAAAA;
}

.App-game-decks .deck .PlayerInfo {
    bottom: 0;
    z-index: 1;
    display: block;
    position: absolute;
}

.App-game-decks .deck[ooe="own"] .PlayerInfo {
    top: 0;
    bottom: initial;
}

.App-game-decks .deck .PlayerInfo .MP {
    padding: 0.25rem;
    border-radius: 50%;
    background-color: lightblue;
    border: 1px solid lightseagreen;
}

.App-game-decks .deck .Card {
    float: left;
}

.App-game-decks .deck .deck-onHand,
.App-game-decks .deck .deck-onField,
.App-game-decks .deck .deck-inBlock {
    display: block;
    position: absolute;
    min-width: calc(5.5rem + 0.25rem * 2);
    min-height: calc(8.5rem + 0.25rem * 2);
}

.App-game-decks .deck .deck-onHand {
    top: 0;
    left: calc(2 * (5.5rem + 0.25rem * 2));
    background-color: #00FF00;
}

.App-game-decks .deck[ooe="own"] .deck-onHand {
    top: initial;
    left: initial;
    right: calc(2 * (5.5rem + 0.25rem * 2));
    bottom: 0;
}

.App-game-decks .deck .deck-onHand .Card:nth-child(1) {
    left: calc(-1.5rem * 0);
}

.App-game-decks .deck .deck-onHand .Card:nth-child(2) {
    left: calc(-1.5rem * 1);
}

.App-game-decks .deck .deck-onHand .Card:nth-child(3) {
    left: calc(-1.5rem * 2);
}

.App-game-decks .deck .deck-onHand .Card:nth-child(4) {
    left: calc(-1.5rem * 3);
}

.App-game-decks .deck .deck-onHand .Card:nth-child(5) {
    left: calc(-1.5rem * 4);
}

.App-game-decks .deck .deck-onField {
    bottom: 1.25rem;
    background-color: #FF0000;
}

.App-game-decks .deck[ooe="own"] .deck-onField {
    top: 1.25rem;
    bottom: initial;
}

.App-game-decks .deck[ooe="own"] .deck-onField .Card {
    float: right;
}

.App-game-decks .deck .deck-inBlock {
    top: 0;
    left: 0;
    background-color: #0000FF;
    width: calc(5.5rem + 0.25rem * 2);
    height: calc(8.5rem + 0.25rem * 2);
}

.App-game-decks .deck[ooe="own"] .deck-inBlock {
    top: initial;
    left: initial;
    right: 0;
    bottom: 0;
}

.App-game-decks .deck .deck-inBlock .deck-inBlock-nr {
    top: 50%;
    left: 50%;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
}

.App-game-decks .deck .deck-inBlock .Card {
    position: absolute;
}